@import "../../variables/variables.scss";

.header {
    background-color: $blackcolour;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30vh;
    color: $pinkcolour;
    // margin-top: 10vh;
    padding-bottom: -50vh;
    margin-bottom: -40vh;
    z-index: 1;

    border: 2px solid red h1 {
        font-size: 10vh;
        margin-bottom: auto;
        z-index: 1;
        background-color: none;
        color: $pinkcolour;
        letter-spacing: 7px;
        border: 2px solid red
    }

    img {
        min-height: fit-content;
        min-width: fit-content;
    }

    h3 {
        font-size: 7vh;
        margin-bottom: -1em;
        justify-content: right;
        z-index: 1;

    }

    h2 {
        font-size: 7vh;
        z-index: 1;
        color: $pinkcolour;

        span::before {
            content: "<Software Engineer>";
            color: rgb(198, 5, 198);
            animation: animate infinite 7s;
            padding-left: 10px;
        }

        @keyframes animate {

            0% {
                content: "<Environmentalist>";
                color: aquamarine;
            }

            // 50% {
            //     content: "Peanut butter addict";
            //     color: rgb(225, 225, 132);
            // }

            50% {
                content: "<Adventurer>";
                color: coral;
            }
        }
    }

}