.h1{
    color: white;
    margin-bottom: 0px
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  
    // max-width: 40vw
}
.form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: white;
    // max-width: 30vw;
    min-width: 30vw;
    background-color: rgb(17, 171, 171);
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 3em;
    
}

.input{
    min-height: 2em;
    min-width: 7em;
    margin: 1em

}

.textarea{
    min-height:5em;
    min-width: 7em;
    margin: 1em
}

.sendButton{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 3em;
    width: 6em;
    margin: 1em;
    color: black;
    border-radius: 10px;
    background-color: bisque;
}

.label{
    margin-left: 0.75em;
    font-size: 1.5em
}